.etiqueta
  padding: 1px 2px 2px
italic
  font-style: oblique
figcaption
  font-weight: 400  


.fondo-video
  background-image: url(../assets/curso/fondo-video.png)
  background-size: 100% 100%
  background-position: center 
  background-repeat: no-repeat 
.fondo-linea
  background-image: url(../assets/curso/fondo-linea.png)
  background-size: cover
  background-position: center 
  background-repeat: no-repeat   


.color-acento3
  background-color: #F3F0CD


.bloque-texto-f__autor
  text-align: left
.bloque-texto-f__comillas i:last-of-type
  top: calc(100% - 0px)

.linea-tiempo-b__icon img
  width: 93%
.linea-tiempo-b__line:after
  border-radius: 20px
  border-left: 15px solid #67CBC0   
  left: 49%
.linea-tiempo-b__icon:after
  width: 20px
  height: 7px
.linea-tiempo-b.color-primario .linea-tiempo-b__icon
  background-color: #67cbc0

.tarjeta-numerada
  border: solid 4px
  border-radius: 0px
  margin-left: 0px
.tarjeta-numerada__numero 
  border-radius: 0px
  width: 40px
  height: 40px
  left: 19px
  top: -1px
.tarjeta-numerada.color-acento
  border-color: #F3F0CD
.tarjeta-numerada.color-acento .tarjeta-numerada__numero
  background-color: #F3F0CD  
